@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');

:root {
    --preto: black;
    --branco: #FFFFFF;
    --font-mono: "Monomaniac One", sans-serif;
    --font-smooch: "Smooch Sans", sans-serif;
    --font-lexend: "Lexend", sans-serif;
}

* {
    font-family: var(--font-lexend);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: var(--branco);
}

a:visited {
    color: var(--branco);
}

ul {
    list-style-type: none;
    font-variant: small-caps;
}

hr {
    width: 50%;
    margin: 50px auto;
}

html, body, main {
    background-color: var(--preto);
    color: var(--branco);
}

header {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.div-img {
    grid-column: 1/ -1;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
}

.logo-dama {
    width: 100px;
}

.div-span {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: right;
    align-self: center;
}

menu {
    display: none;
    grid-column: 2 / -1;
    justify-self: right;
    text-align: right;
}

menu li {
    font-weight: bold;
    font-size: 23px;
}

menu a:hover {
    background-color: var(--branco);
    color: var(--preto);
    font-weight: 300;
}

/* Estilo do Menu Hamburguer */
.material-symbols-outlined {
    cursor: pointer;
}

.video {
    height: 90vh;
}

/* container config. */
.container {
    width: 95%;
    margin: 10px auto;
    height: 100vh;
}

/* section - quem somos? */
.quem-somos-container {
    display: grid;
    grid-template-rows: auto auto;
}

.quem-somos {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-self: center;
    gap: 10px;
    text-align: justify;
   
}

.quem-somos h1 {
    grid-row: 1 / 4;
    font-family: var(--font-smooch);
    font-size: 62px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.quem-somos .p1 {
    grid-column: 2 / -1;
    
}

.quem-somos .p2 {
    grid-column: 2 / -1;
}

.quem-somos .p3 {
    grid-column: 2 / -1;
}

.quem-somos p {
    font-size: 12px;
    font-weight: 200;
    width: 100%;
}

/* user config */

/*user 1 e 2 */
.users {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.user1-foto, .user2-foto {
    width: 200px;
}

.user1 h2, .user2 h2 {
    font-family: var(--font-smooch);
    font-size: 2em;
    font-weight: 300;
}

.user1 h4, .user2 h4 {
    font-family: var(--font-lexend);
    font-size: 1em;
    font-weight: 300;
}

.user1 p, .user2 p {
    font-family: var(--font-lexend);
    font-size: 0.8em;
    font-weight: 100;
    margin-top: 5px;
}

/* user 1 */
.user1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.user1-foto-div {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.user1-info {
    grid-column: 2 / -1;
    text-align: right;
    align-self: center;
}

/* user 2 */
.user2 {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.user2-info {
    grid-column: 1 / 2;
    text-align: left;
    align-self: center;
}

.user2-foto-div {
    grid-column: 2 / 2;
    justify-self: center;
    align-self: center;
}

/*clientes*/
.clientes {
    display: grid;
    grid-template-rows: auto 6fr;
    justify-items: center;
}

.clientes h1 {
    grid-row: 1 / 2;
    font-family: var(--font-smooch);
    font-size: 62px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

}

.galeria-clientes {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
}

.galeria-clientes img {
    width: 100px;
}

/* form */
.forms-container {
    display: block;
    grid-template-rows: 3fr 1fr 6fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: auto;
}

.assinatura {
    margin: 0 10px;
}

.assinatura h1 {
    font-family: var(--font-smooch);
    font-size: 52px;
    font-weight: normal;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.assinatura p {
    font-weight: lighter;
    font-size: 18px;
}

.assinatura p:last-child {
    font-weight: 500;
}

.contato {
    align-self: center;
    justify-self: center;
    margin-top: 50px;
}

.contato h1 {
    font-family: var(--font-smooch);
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    font-weight: 600;

}

.div-form {
    background-color: #D9D9D9;
    padding: 20px;
    margin: 0 auto;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
}

.nome {
    grid-column: 1 / 2;
}

.sobrenome {
    grid-column: 2 / 3;
}

.email, .assunto {
    grid-column: 1 / -1;
}

input {
    border-radius: 10px;
    height: 40px;
    border: solid 2px grey;
    padding: 10px;
    color: grey;
    width: 100%;
}

textarea {
    grid-column: 1 / -1;
    border-radius: 10px;
    border: solid 2px grey;
    padding: 10px;
    color: grey;
}

.enviar, .reset {
    background-color: grey;
    color: var(--branco);
}

.enviar:hover, .reset:hover {
    opacity: 80%;
    cursor: pointer;
}

/* estilo da borda quando selecionada */
    input[type=text], input[type=email], textarea {
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

    input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 3px solid #555;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.logo-footer {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.logo-footer img {
    width: 100px;
}

.redes-footer {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.redes-footer img:first-child {
    grid-column: 1 / 2;
}

.redes-footer img {
    grid-column: 2 / 3;
    width: 40px;
    margin: 10px;
}

.redes-footer img:last-child {
    grid-row: 3 / -1;
}

.menu-footer {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.li-footer {
    display: inline;
    font-size: 17px;
}

.li-footer:before {
    content: url(../img/Line\ 1.png);
    margin: 10px;
}
    
.li-footer:first-child:before {
    content: none;
}

.direitos {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    font-weight: lighter;
    font-size: 12px;
}

@media screen and (min-width:768px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        margin-bottom: 30px;
    }

    .div-img { 
        align-self: flex-start;
        justify-self: center;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
    }

    .logo-dama {
        width: 150px;
    }
    
    menu {
        display: inline; /* aparece menu quando tela grande */
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        justify-self: center;
        align-self: center;
        padding-right: 30px;
    }

    menu ul {
        font-size: 23px;
        font-weight: lighter;
        margin-top: 20px;
    }

    menu li{
        display: inline;
        font-weight: 300;
    }

    li:before {
        content: url(../img/Line\ 1.png);
        margin: 10px;
    }
        
    li:first-child:before {
        content: none;
    }

    #menu-hamburguer {
        display: none;
    }

    /* section quem somos */
    .quem-somos-container {
        display: grid;
        grid-template-rows: 1fr 4fr;
        padding: 50px 100px;
    }

    .quem-somos {
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto auto auto;
        row-gap: 10;
        column-gap: 20px;
    }

    .quem-somos h1 {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        font-weight: 300;
        text-transform: none;
        line-height: 50px;
        font-size: 80px;
        align-self: center;
        text-align: right;
    }

    .quem-somos .p1 .p2 .p3 {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
    }

    .quem-somos p {
        font-weight: 100;
    }
    
    .quem-somos p {
        font-size: 20px;
    }

    /*Section users*/
    .user1-foto, .user2-foto {
        width: 200px;
    }

    .user1 h2, .user2 h2 {
        font-size: 50px;
        font-weight: 300;
    }
    
    .user1 h4, .user2 h4 {
        font-size: 22px;
        font-weight: 300;
    }
    
    .user1 p, .user2 p {
        font-size: 19px;
        font-weight: 200;
        margin-top: 5px;
    }

    .user1-info {
        text-align: left;
        padding: 20px;
    }

    .user2-info {
        text-align: right;
        padding: 20px;
    }

    .user1 {
        margin-top: 10px;
    }

    .user2 {
        margin-top: -100px;
    }

    /*section clientes*/
    .galeria-clientes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
    }

    .galeria-clientes img {
        width: 150px;
    }

    .form-container {
        background-color: #D9D9D9;
    }

    .div-form {
        width: 40%;
    }
}