@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');

:root {
    --preto: black;
    --branco: #FFFFFF;
    --font-mono: "Monomaniac One", sans-serif;
    --font-smooch: "Smooch Sans", sans-serif;
    --font-lexend: "Lexend", sans-serif;
}

* {
    font-family: var(--font-lexend);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: var(--branco);
}

a:visited {
    color: var(--branco);
}

ul {
    list-style-type: none;
    font-variant: small-caps;
}

html, body, main {
    background-color: var(--preto);
    color: var(--branco);
}

header {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.div-img {
    grid-column: 1/ -1;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
}

.logo-dama {
    width: 100px;
}

.div-span {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: right;
    align-self: center;
}

menu {
    display: none;
    grid-column: 2 / -1;
    justify-self: right;
    text-align: right;
}

menu li {
    font-weight: lighter;
    font-size: 23px;
}

menu a:hover {
    background-color: var(--branco);
    color: var(--preto);
    font-weight: 300;
}

/* Estilo do Menu Hamburguer */
.material-symbols-outlined {
    cursor: pointer;
}

/* container config. */
.container {
    width: 95%;
    margin: 50px auto;
}

/* section - quem somos? */
.quem-somos {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.quem-somos h1 {
    grid-row: 1 / 4;
    font-family: var(--font-smooch);
    font-size: 62px;
    font-weight: normal;
}

.quem-somos .p1 {
    grid-column: 2 / -1;
}

.quem-somos .p2 {
    grid-column: 2 / -1;
}

.quem-somos .p3 {
    grid-column: 2 / -1;
}

.quem-somos p {
    font-size: 12px;
    font-weight: lighter;
    width: 100%;
}

/* user config */

/*user 1 e 2 */
.users {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.user1-foto, .user2-foto {
    width: 200px;
}

.user1 h2, .user2 h2 {
    font-family: var(--font-smooch);
    font-size: 2.5em;
    font-weight: 300;
}

.user1 h4, .user2 h4 {
    font-family: var(--font-lexend);
    font-size: 1em;
    font-weight: 300;
}

.user1 p, .user2 p {
    font-family: var(--font-lexend);
    font-size: 0.8em;
    font-weight: 200;
    margin-top: 5px;
}

/* user 1 */
.user1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.user1-foto-div {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
}

.user1-info {
    grid-column: 2 / -1;
    align-self: center;
}

/* user 2 */
.user2 {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.user2-info {
    grid-column: 1 / 2;
    justify-self: end;
    text-align: right;
    align-self: center;

}

.user2-foto-div {
    grid-column: 2 / 2;
    justify-self: center;
    align-self: center;
}

/* form */
.forms-container {
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    text-align: center;
    margin-top: 50px;
}

.vamos-conversar {
    align-self: center;
    justify-self: center;
}

.vamos-conversar h1 {
    font-size: 1.7em;
}

.div-form {
    margin: 5px 20px;
    border-radius: 10px;
    background-color: var(--branco);
    padding: 20px;
    justify-self: center;
    align-self: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.nome {
    grid-column: 1 / 2;
}

.sobrenome {
    grid-column: 2 / 3;
}

.email, .assunto {
    grid-column: 1 / -1;
}

input {
    border-radius: 10px;
    height: 40px;
    border: solid 2px grey;
    padding: 10px;
    color: grey;
}

textarea {
    grid-column: 1 / -1;
    border-radius: 10px;
    border: solid 2px grey;
    padding: 10px;
    color: grey;
}

.enviar, .reset {
    background-color: grey;
    color: var(--branco);
}

.enviar:hover, .reset:hover {
    opacity: 80%;
    cursor: pointer;
}

/* estilo da borda quando selecionada */
    input[type=text], input[type=email], textarea {
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

    input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 3px solid #555;
}

@media screen and (min-width:768px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        margin-bottom: 30px;
    }

    .div-img { 
        align-self: flex-start;
        justify-self: center;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
    }

    .logo-dama {
        width: 150px;
    }
    
    menu {
        display: inline; /* aparece menu quando tela grande */
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        justify-self: center;
        align-self: center;
        padding-right: 30px;
    }

    menu ul {
        font-size: 23px;
        font-weight: lighter;
        margin-top: 20px;

    }

    menu li{
        display: inline;
    }

    li:before {
        content: url(../img/Line\ 1.png);
        margin: 10px;
    }
        
    li:first-child:before {
        content: none;
    }

    #menu-hamburguer {
        display: none;
    }

    .container {
        width: 80%;
    }

    .quem-somos-main {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr;
        gap: 10px;
    }

    .quem-somos h1 {
        font-size: 110px;
        margin-right: 20px;
    }
    
    .quem-somos p {
        font-size: 19px;
        font-weight: 200;
    }

    .user1-foto, .user2-foto {
        width: 384px;
    }

    .user1 h2, .user2 h2 {
        font-size: 40px;
        font-weight: 300;
    }
    
    .user1 h4, .user2 h4 {
        font-size: 22px;
        font-weight: 300;
    }
    
    .user1 p, .user2 p {
        font-size: 19px;
        font-weight: 200;
        margin-top: 5px;
    }

    .div-form {
        width: 70%;
    }

    .vamos-conversar h1 {
        font-size: 2em;
    }

}